.hidden {
  display: none !important;

  &--tablet {
    @include tablet {
      display: none !important;
    }
  }

  &--tablet-and-up {
    @include tablet-and-up {
      display: none !important;
    }
  }

  &--desktop {
    @include desktop {
      display: none !important;
    }
  }
}

.text {
  &--left {
    text-align: left !important;
  }
  &--center {
    text-align: center !important;
  }
  &--right {
    text-align: right !important;
  }
}