@import 'mixins';
@import 'variables';
@import 'modifiers';
@import '../../../node_modules/normalize.css/normalize.css';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  background-color: rgba(250, 248, 223, 0.24);
  font-size: 20px;
  min-height: 100%;
}

.container {
  width: 96%;
  height: 100%;
  margin: 0 auto;

  @include desktop {
    max-width: 1280px;
  }
}

.page-title {
  font-family: $font-title;
  margin-top: 0;
  font-size: 1.5em;
  color: #212121;
  padding-top: 0.5em;
  @include tablet-and-up {
    text-align: left;
    font-size: 2em;
  }
}

.introduction, .more-info, .latest-entry {
  &-title {
    font-family: $font-title;
    color: $primary-color;
    margin: 0;
    padding: 1em 0;
  }
}

.introduction-paragraph {
  font-size: 1.2em;
}

.separator {
  text-align: center;
}

footer {
  padding-top: 3vh;
  font-size: 0.8em;
}